<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= restaurant.name %></h2>
    <h3><%= restaurant.description %></h3>
    <%= image_tag restaurant.image.url(:thumb) %>
    <% if !current_user.nil? && restaurant.user_id == current_user.id %>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
      <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <% end %>
    <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
    <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
  <h3>Reviews for <%= restaurant.name %></h3>
      <% if restaurant.reviews.any? %>
        <ul>
          <% restaurant.reviews.each do |review| %>
            <li>
              <%= review.gripes %>, <strong><%= review.rating %></strong>/5
              <br>
              <%= link_to "Delete review", review_path(review), method: :delete %>
              <br>
              <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link' %>
              <span class="endorsements_count"><%= review.endorsements.count %></span> endorsements
              <p>Posted <%= time_ago_in_words(review.created_at) %></p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No reviews.</p>
      <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<% if user_signed_in? %>
  <a href="/restaurants/new">Add a restaurant</a>
<% else %>
<% end %>
